* {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  overflow: hidden;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background: #fff;
}

.banner__video {
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 1;

  width: 50%;
  height: 100%;

  object-fit: cover;
  opacity: 0;
}

.banner__bg--wrapper {
  width: 100vw;

  background-color: #fff;
}

.banner__bg {
  position: absolute;
  z-index: 2;
  left: 25%;

  width: 50%;
  height: 100%;
  margin: 0 auto;

  background: #fff url("../img/svg-editor-image.svg");
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: screen;
  background-size: contain;
}

.banner__wrapper {
  position: absolute;
  left: 25%;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100vh;
}

.banner__wrapper--svg {
  width: 100vw;
  height: 100vh;
}

.banner__black-bg {
  position: absolute;
  left: 25%;
  z-index: 1;

  width: 50%;
  height: 100%;

  background-color: black;
}
